certifi==2017.11.5
chardet==3.0.4
idna==2.6
numpy==1.14.0
PyDSTool==0.90.2
PyQt5==5.10
pyqtgraph==0.10.0
python-ecobee==1.0.0
QSpectrumAnalyzer==2.1.0
Qt.py==1.1.0
requests==2.18.4
scipy==1.0.0
SimpleSoapy==1.5.1
SimpleSpectral==1.0.0
sip==4.19.7
six==1.10.0
soapy-power==1.6.1
urllib3==1.22
